In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Hamilton,US,2022-02-14 02:00:14,39.1834,-84.5333,21.58,78,100,1.99
1,1,Port Alfred,ZA,2022-02-14 01:56:36,-33.5906,26.8910,68.83,90,58,15.21
2,2,Manokwari,ID,2022-02-14 02:00:18,-0.8667,134.0833,82.04,70,100,5.17
3,3,Murakami,JP,2022-02-14 02:00:19,38.2333,139.4833,37.72,64,61,3.78
4,4,Talnakh,RU,2022-02-14 02:00:19,69.4865,88.3972,-8.05,70,10,8.79

In [3]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
#Get the maximum temperature
max_temp = city_data_df['Max Temp']
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
#Get the latitude and longitude
locations = city_data_df[['Lat', 'Lng']]

#Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
#Assign heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)

#Add the heatmap layer
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
locations = city_data_df[['Lat', 'Lng']]
humidity = city_data_df['Humidity']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
locations = city_data_df[['Lat', 'Lng']]
clouds = city_data_df['Cloudiness']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
locations = city_data_df[['Lat', 'Lng']]
wind = city_data_df['Wind Speed']
fig = gmaps.figure(center=(30.0, 31), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, 
                                 dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Ask the customer to add a minimum and maximum temperature value
min_temp = float(input('What is the minimum temperature you would like for your trip? '))
max_temp = float(input('What is the maximum temperature you would like for your trip? '))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
#Filter the data set to find the cities that fit the crieteria
preferred_cities_df = city_data_df.loc[(city_data_df['Max Temp'] <= max_temp) & \
                                       (city_data_df['Max Temp'] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Manokwari,ID,2022-02-14 02:00:18,-0.8667,134.0833,82.04,70,100,5.17
7,7,Wewak,PG,2022-02-14 02:00:20,-3.5534,143.6268,83.16,75,97,2.66
18,18,Butaritari,KI,2022-02-14 01:57:07,3.0707,172.7902,81.12,77,32,12.28
21,21,Souillac,MU,2022-02-14 02:00:31,-20.5167,57.5167,80.37,90,98,13.20
23,23,Rikitea,PF,2022-02-14 01:56:35,-23.1203,-134.9692,79.00,70,3,14.58
33,33,Atuona,PF,2022-02-14 01:57:41,-9.8000,-139.0333,77.61,79,17,13.56
37,37,Busselton,AU,2022-02-14 02:00:44,-33.6500,115.3333,81.05,46,0,9.48
44,44,Avarua,CK,2022-02-14 02:00:47,-21.2078,-159.7750,75.25,94,40,6.91
47,47,Vaini,TO,2022-02-14 02:00:50,-21.2000,-175.2000,80.42,71,85,15.95
59,59,Yaan,NG,2022-02-14 02:00:57,7.3833,8.5667,78.73,14,97,3.83

In [12]:
preferred_cities_df.count()

City_ID       122
City          122
Country       122
Date          122
Lat           122
Lng           122
Max Temp      122
Humidity      122
Cloudiness    122
Wind Speed    122
dtype: int64

In [13]:
#Create a data frame called hotel_df to store hotel names along with city, country, max temp, and coordinates
hotel_df = preferred_cities_df[['City', 'Country', 'Max Temp', 'Lat', 'Lng']].copy()
hotel_df['Hotel Name'] = ''
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
2    Manokwari      ID     82.04  -0.8667  134.0833
7        Wewak      PG     83.16  -3.5534  143.6268
18  Butaritari      KI     81.12   3.0707  172.7902
21    Souillac      MU     80.37 -20.5167   57.5167
23     Rikitea      PF     79.00 -23.1203 -134.9692
33      Atuona      PF     77.61  -9.8000 -139.0333
37   Busselton      AU     81.05 -33.6500  115.3333
44      Avarua      CK     75.25 -21.2078 -159.7750
47       Vaini      TO     80.42 -21.2000 -175.2000
59        Yaan      NG     78.73   7.3833    8.5667

In [14]:
#Set parameters to search for a hotel
params = {
    'radius': 5000,
    'type': 'lodging',
    'key': g_key
}

#Iterate through the data frame
for index, row in hotel_df.iterrows():
    #Get the latitude and longitude
    lat = row['Lat']
    lng = row['Lng']
    
    #Add the latitude and longitude to location key for the params dictionary
    params['location'] = f"{lat},{lng}"
    
    #Use the search term: "lodging" and our latitude and longitude
    base_url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'
    #Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    #Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, 'Hotel Name'] = hotels['results'][0]['name']
    except (IndexError):
        print('Hotel not found... skipping.')

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Manokwari,ID,82.04,-0.8667,134.0833,Swiss Belhotel Manokwari
7,Wewak,PG,83.16,-3.5534,143.6268,In Wewak Boutique Hotel
18,Butaritari,KI,81.12,3.0707,172.7902,Isles Sunset Lodge
21,Souillac,MU,80.37,-20.5167,57.5167,Shanti Maurice Resort & Spa
23,Rikitea,PF,79.00,-23.1203,-134.9692,People ThankYou
33,Atuona,PF,77.61,-9.8000,-139.0333,Villa Enata
37,Busselton,AU,81.05,-33.6500,115.3333,Observatory Guest House
44,Avarua,CK,75.25,-21.2078,-159.7750,Paradise Inn
47,Vaini,TO,80.42,-21.2000,-175.2000,Keleti Beach Resort
59,Yaan,NG,78.73,7.3833,8.5667,

In [19]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

#Store the data frame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
#Add a heatmap of temperature for vacation spots and a pop-up marker for each city
locations = hotel_df[['Lat', 'Lng']]
max_temp = hotel_df['Max Temp']
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False, 
                                 max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))